body {
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(53, 30, 28, 1) 0vh, rgba(255, 96, 55, 1) 100vh);
  background-attachment: fixed;
  color: #351e1c;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  color: #351e1c;
  width: 80vw;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececdc;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(160, 201, 203, 0.4);
}

.nav h1 {
  font-weight: 700;
  letter-spacing: 1.25px;
}

.nav h1 a {
  color: #351e1c;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav h1 a:hover,
.nav ul li a:hover {
  color: #ff6037;
  transition: 0.3s ease-in-out;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin: 0 15px;
  line-height: 2rem;
  letter-spacing: 2px;
}

.nav ul li a {
  color: #351e1c;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.25px;
  transition: 0.3s ease-in-out;
}

.container-header {
  font-size: 2rem;
  color: #351e1c;
  margin: 30px;
}

.container {
  width: 80vw;
  margin: 85px auto;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(#ececdc 0%, #f5f4ed 100%);
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(160, 201, 203, 0.4);
}

.container h2 {
  font-size: 1.5rem;
  color: #351e1c;
  margin: 30px;
}

.search-area {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

#search-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ff6037;
  border-right: none;
  border-radius: 6px 0 0 6px;
  background-color: #ececdc;
  color: #733635;
  margin-right: 0;
  height: 22px;
}

#search-input:focus {
  outline: none;
  border-color: #a0c9cb;
}

#search-input::placeholder {
  color: #ff6037;
}

#search-input:hover {
  border-color: #a0c9cb;
}

#search-btn {
  background-color: #ff6037;
  color: #351e1c;
  border: 1px solid #ff6037;
  border-left: none;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0;
  font-weight: 700;
  height: 44px;
}

#search-btn:hover {
  background-color: #a0c9cb;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#results,
#favorites {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
  justify-content: center;
  align-items: stretch;
}

#results .emoji-card,
#favorites .emoji-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(160, 201, 203, 0.7);
  padding: 15px;
  border-radius: 8px;
  height: auto;
  max-height: 425px;
  max-width: 320px;
  flex-grow: 1;
  flex-basis: 320px;
  gap: 15px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#results .emoji-card:hover,
#favorites .emoji-card:hover {
  box-shadow: 0 0 10px rgba(160, 201, 203, 0.5);
  background: rgba(160, 201, 203, 1);
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.emoji-card-header {
  text-align: left;
  letter-spacing: 1.1px;
  margin: 10px;
}

.emoji-card-header h3 {
  font-size: 1.1rem;
  margin: 0;
  color: #351e1c;
  max-height: 3.5em;
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  padding-right: 4px;
}

.emoji-card-header h3::-webkit-scrollbar {
  width: 8px;
  background: #351e1c;
  border-radius: 4px;
}

.emoji-card-header h3::-webkit-scrollbar-thumb {
  background: #ff6037;
  border-radius: 4px;
}

.emoji-card-header h3::-webkit-scrollbar-thumb:hover {
  background: #ececdc;
}

.emoji-card-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.emoji-card img {
  max-width: 100%;
  max-height: 275px;
  border-radius: 4px;
  object-fit: cover;
}

.add-fav-btn,
.remove-fav-btn {
  position: absolute;
  font-size: 1.5rem;
  color: #ff6037;
  cursor: pointer;
  transition: color 0.3s ease;
  bottom: 10px;
}

.add-fav-btn:hover,
.remove-fav-btn:hover {
  color: #351e1c;
}

#load-more-btn {
  background-color: #ff6037;
  color: #351e1c;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#load-more-btn:hover {
  background-color: #a0c9cb;
}

#sort-results-btn,
#sort-favorites-btn {
  background-color: #ff6037;
  color: #351e1c;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.footer {
  margin-top: auto;
  text-align: center;
  color: #351e1c;
  padding: 1rem 0;
  border-top: 1px solid #351e1c;
}
